# Mpesa Creds

# dev
MPESA_PROD_CONSUMER_KEY = ""
MPESA_PROD_CONSUMER_SECRET = ""
MPESA_PROD_SHORTCODE = ""
MPESA_PROD_PASSKEY = ""
MPESA_PROD_STK_CALLBACK_URL = ""

# prod
MPESA_DEV_CONSUMER_KEY = ""
MPESA_DEV_CONSUMER_SECRET = ""
MPESA_DEV_SHORTCODE = ""
MPESA_DEV_PASSKEY = ""
MPESA_DEV_STK_CALLBACK_URL = ""
